<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yandex.android.idoroshevapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/short_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="846c39be63f29726b2985c5f45d9051ba9e5647f"/>

        <activity android:name=".welcome_page.WelcomePageActivity">

        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".launcher.LauncherActivity"
            android:screenOrientation="fullUser">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.HOME" />
        </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>

        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".launcher.LauncherActivity">
        </activity>

    </application>

</manifest>